<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Custom Node.js cartridge for OpenShift</title>
  <meta name="description" content="Custom cartridge for OpenShift providing the lastest version of Node.js.">
  <meta name="keywords" content="Node.js, JavaScript, ES6, OpenShift, es6, paas">
  <meta name="author" content="Ionut-Cristian Florescu">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono' rel='stylesheet' type='text/css'>
  <link href="main.css" rel="stylesheet">
</head>
<body>
  <header>
    <a href="https://github.com/icflorescu/openshift-cartridge-nodejs"><img class="fork" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
    <p>This is a</p>
    <img class="logo" title="Node.js" src="nodejs-logo.svg">
    <p>application running in a <a href="https://github.com/icflorescu/openshift-cartridge-nodejs" target="_blank">custom cartridge</a> on</p>
    <img class="logo" title="OpenShift Online Logo" src="openshift-online-logo.svg">
  </header>
  <main>
    <info type="gen"></info>
    <info type="poll"></info>
  </main>
  <footer>
    <p>Developed by <a href="https://github.com/icflorescu" target="_blank">Ionut-Cristian Florescu</a> and released under the <a href="https://github.com/icflorescu/openshift-cartridge-nodejs/blob/master/LICENSE">ISC License</a>.</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/riot/2.3.16/riot+compiler.min.js"></script>
  <script src="https://cdn.jsdelivr.net/superagent/0.18.0/superagent.min.js"></script>
  <script type="riot/tag" src="info.tag"></script>
  <script>
    riot.mount('*')
  </script>
</body>
</html>
